/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --font-title: "Cinzel";
  --font-body: "Nosifer";
  --destak-color: #b7d63d;
  --white: #f3f3f3;
  --black: #141414;
  --gray: #acacac;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

::selection {
  color: var(--white);
  background-color: var(--destak-color);
}

header {
 height: 100vh;
}

header::before {
  content: "";
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: block;
  position: absolute;
  z-index: -10;
  background-image: url("../images/matteo-catanese-9o2rxHYRyro-unsplash.jpg");
  background-size: cover;
}

h1 {
  color: var(--white);
  text-align: center;
  text-shadow: 1px 5px 6px rgba(7, 3, 43, 0.534);
  font-family: var(--font-title);
  font-size: 4.5rem;
  margin: 0 5.4rem;
}

h2 {
  color: var(--black);
  font-family: var(--font-title);
  text-align: center;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 2rem;
  display: block;
  margin: 2rem 5.4rem;
  background: rgb(190, 189, 189);
}

h3 {
  color: (var(--black));
  font-family: var(--font-title);
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  display: block;
  margin: 2rem 5.4rem;
  background: #b7d63d;
}
p {
  font-family: var(--font-title);
  font-size: 1rem;
  color: var(--white);
  margin: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title);
  background-color: var(--black);
  padding: 0.7rem 9rem;
  border-radius: 0.6rem;
  transition: opacity 0.5s;
}

header span {
  color: var(--white);
  font-family: var(--font-body);
  font-weight: 700;
  font-size: 2rem;
  display: block;
  margin: 2rem 5.4rem;
  text-align: center;

  
}

.botao {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  color: var(--white);
  margin: 1rem;
  font-family: var(--font-body);
  background-color: var(--destak-color);
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  transition: opacity 0.5s;
  
}

a {
  gap: 1rem;
  color: var(--white);
  margin: 0 2rem; /* Reduzindo a margem para caber em espaços menores */
  font-family: var(--font-body);
  background-color: var(--destak-color);
  padding: 0.5rem 1rem; /* Aumentando um pouco o padding */
  border-radius: 0.25rem; /* Reduzindo o border-radius para torná-lo mais retangular */
  transition: opacity 0.5s;
}


a:hover {
  opacity: 0.8;
}

#secao-apresentacao {
  color: var(--black);
  font-family: var(--font-title);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin: 0 2.4rem 0.3.7rem;
  background: #02030f;
}
#secao-apresentacao image {
  border-radius: 100%;
}

#texto-apresentacao {
  color: var(--color-black);
}

#texto-apresentacao h2 {
  font-size: 2.5rem;
  font-family: var(--font-title);
}

#texto-apresentacao p {
  font-size: 2.5rem;
  font-family: var(--font-title);
  padding: 0.7rem 8rem;
  border-radius: 0.9rem;
}

#avatar {
  border-radius: 50%;
  height: 18.8rem;
  width: 18.8rem;
}

#secao-projetos {
  height: 100vh;
  background-color: #02030f;
}

#secao-projetos ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

#secao-projetos li {
  list-style: none;
}

.card {
  max-width: 450px;
  height: 650px;
  color: var(--white);
  position: relative;
  cursor: pointer;
}

.card:hover .card-text {
  opacity: 1;
}

.card:hover .image-wrapper {
  opacity: 0.3;
}

.image-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-text {
  position: center;
  top: 0;
  opacity: 0;
  transition: opacity 1s;
}

#secao-compraskate {
  height: 100vh;
  padding: 3rem;
  background: linear-gradient(#025829,#04b169);
}

#secao-compraskate form {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.5rem;
  display: grid;
  grid-gap: 1rem;

}

.campo {
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  text-align: center;
  
}
.linha {
  font-family: var(--font-body);
 

}

input[type="text"],
input[type="number"],
select,
input[type="checkbox"],
input[type="radio"],
input[type="range"] {
  padding: 0.5rem;
  font-family: var(--font-title);
  border: 1px solid #ccc;
  border-radius: 4px;
}
.checkbox-label input[type="checkbox"],
.radio-label input[type="radio"] {
margin-right: 0.5rem;

}

button {
  padding: .5rem 1rem;
  font-size: 1rem;
  background-color: var(--destak-color);
  font-family: var(--font-body);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: .8;
}
